footer {
    width: 100%;
    margin-top: 100px;
    
    background-color: var(--inverse-color);
    color: var(--main-color);
}
footer .dots{
    width: 100%;
    height: 400px;
    background-image: url(../../../assets/images/dots.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Invert the dots image in dark theme */
[data-theme='dark'] footer .dots {
    filter: invert(1);
}

footer .dots img{

}

footer .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 80px;
    box-sizing: border-box;
}

footer .info .left h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

footer .info .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

footer .info .right a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: normal;
    transition: color 0.2s;
    word-break: break-word;
}

footer .info .right a:hover {
    text-decoration: underline;
}

@media (max-width: 700px) {
    footer .info {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 70px 40px;
        gap: 1.2rem;
    }

    footer .info .left h2 {
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
    }

    footer .info .right {
        gap: 1rem;
        justify-content: flex-start;
    }

    footer .info .right a {
        font-size: 1.1rem;
    }
}
