
.glassDiv {
        /* Inner shadow */
    --shadow-offset: 0;
    --shadow-blur: 20px;
    --shadow-spread: -5px;
    --shadow-color: rgba(255, 255, 255, 0.2);

    /* Painted glass */
    --tint-color: 255, 255, 255;
    /* --tint-opacity: 0.4; */
    --tint-opacity: 0.0;

    /* Background frost */
    --frost-blur: 2px;

    /* SVG noise/distortion */
    /* --noise-frequency: 0.008; */
    /* --distortion-strength: 77; */
    --noise-frequency: 0.118;
    --distortion-strength: 500;

    /* Outer shadow blur */
    --outer-shadow-blur: 24px;

    /* border-radius: 28px; */
    border-radius: 20px;
    isolation: isolate;
    position: relative; /* Add this line */
    box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.glassDiv::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 28px;
    box-shadow:
        inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
    background-color: rgba(var(--tint-color), var(--tint-opacity));
}

.glassDiv::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 28px;
    backdrop-filter: blur(var(--frost-blur));
    filter: url(#glass-distortion);
    isolation: isolate;
    -webkit-backdrop-filter: blur(var(--frost-blur));
    -webkit-filter: url("#glass-distortion");
}