nav {
    width: calc(100% - 40px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;

    z-index: 1000;

    padding: 10px 20px;

    /* height: 30px; */
    height: 20px;

    background-color: var(--main-color);
    transition: 0.3s ease;

    border-bottom: 1px solid var(--inverse-color);
    color: var(--inverse-color);

}

nav.active{
    transform: translateY(-100%);
}

.navbar-logo {

}

.navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center; /* Center items vertically */
}

.navbar-links li {
    display: flex;
    align-items: center; /* Ensure li contents are centered */
}

.navbar-links li a {
    text-decoration: none;
    color: inherit;
    z-index: 1000;
    color: var(--text-color);
    display: flex;
    align-items: center; /* Center text vertically */
    height: 100%; /* Optional: ensures full height */
}

.navbar-links li a:hover {
    text-decoration: underline;
}
