nav {
    width: calc(100% - 40px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;

    z-index: 1000;

    padding: 10px 20px;

    /* height: 30px; */
    height: 20px;

    background-color: rgb(255, 255, 255);
    transition: 0.3s ease;

    border-bottom: 1px solid #000;
}

nav.active{
    transform: translateY(-100%);
}

.navbar-logo {

}

.navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: inherit;
    z-index: 1000;
}

.navbar-links li a:hover {
    text-decoration: underline;
}
